<h1>Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= link_to message.body, message_path(message) %> - Sent: <%= message.created_at.strftime("%m/%d/%Y %l:%M %p") %></li>
  <% end %>
  <span id="message-list"></span>
</ul>

<%= link_to "New message", new_message_path, id: "new-text-link", remote: true %>
